# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Archivos que quiero que ignore Git para que no le de seguimiento
#Solo colocamos el nombre del archivo o de la carpeta
ignorar.txt


#Tambien podemos poder  .js  y entonces Git va ignorar todos los archivos .js

